attrs==17.2.0
autobahn==17.9.3
Automat==0.6.0
boto==2.48.0
certifi==2017.7.27.1
click==6.7
constantly==15.1.0
filechunkio==1.8
Flask==0.12.2
gevent==1.2.2
google-api-python-client==1.6.3
greenlet==0.4.12
httplib2==0.10.3
hyperlink==17.3.1
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
kazoo==2.4.0
MarkupSafe==1.0
mrjob==0.5.11
oauth2client==4.1.2
pyasn1==0.3.3
pyasn1-modules==0.1.1
PyAudio==0.2.11
PyQt5==5.9.2
pywebview==1.8
PyYAML==3.12
rsa==3.4.2
sip==4.19.6
six==1.10.0
Twisted==17.9.0
txaio==2.8.2
uritemplate==3.0.0
wavebender==0.3
websocket==0.2.1
websocket-client==0.44.0
Werkzeug==0.12.2
zope.interface==4.4.3
